@import "../components/button.scss";
@import "../components/bucketNumDisplay.scss";
@import "../components/shortcutButton.scss";

:root {
  --dark-1: #252525;
  --destructive: #d70015;
  --white: #ffffff;
}
