@import "../../style/mixins/layout.scss";
@import "../../style/mixins/fonts.scss";

.bucket_view-bucket_methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include tablet {
    padding-top: 15px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.bucket_view-bucket_wrap {
  padding-top: 10px;

  h3 {
    @include bold-text;
    color: var(--dark-2);
    margin: 20px auto;
    width: fit-content;
  }
  ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  @include tablet {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
  @include desktop {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
