.checked_circle {
  height: 30px;
  width: 30px;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  &-circle {
    z-index: 0;
    position: absolute;
    border: 1px solid var(--dark-2);
    height: 20px;
    width: 20px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--off-white);
    transition: background-color 300ms ease-in-out;
  }
  &-svg_wrap {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    left: -19%;
    top: 5px;
    transform: translateY(20px) translateX(50%);
    transition: transform 500ms var(--ease-out-back);
    svg {
      height: 100%;
      width: 100%;
      fill:var(--white);
    }
  }
  &.is-checked {
    .checked_circle-circle {
      border-color: var(--green);
      background-color: var(--green);
    }
    .checked_circle-svg_wrap {
      transform: translateY(0px) translateX(50%);
    }
  }
}
